In [1]:
print("Mohib Ismail")
print("Mohib Ismail")
print("Mohib Ismail")
print("Mohib Ismail")
print("Mohib Ismail")

Mohib Ismail
Mohib Ismail
Mohib Ismail
Mohib Ismail
Mohib Ismail

In [2]:
for name in range(5): # 5 won't be included   {0,1,2,3,4}
    print("Mohib Ismail")

Mohib Ismail
Mohib Ismail
Mohib Ismail
Mohib Ismail
Mohib Ismail

In [3]:
for name in range(5): 
    print(name, "Mohib Ismail")

0 Mohib Ismail
1 Mohib Ismail
2 Mohib Ismail
3 Mohib Ismail
4 Mohib Ismail

In [4]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [6]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [7]:
for number in range(1,10,3):
    print(number)

1
4
7

In [8]:
for number in range(10,1,-3):
    print(number)

10
7
4

In [9]:
cities = ["karachi", "multan", "peshawar"]
cities

['karachi', 'multan', 'peshawar']

In [10]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is karachi
The city under consideration is multan
The city under consideration is peshawar

In [11]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [13]:
Country = "Pakistan"
for character in Country:
    print(character)

P
a
k
i
s
t
a
n

In [14]:
Country = "Pakistan", "America"
for character in Country:
    print(character)

Pakistan
America

# For loop's Break and Continue

In [15]:
for number in range(10):
    if number % 3 == 1:
        break
    print(number)

0

In [17]:
for number in range(10):
    if number % 3 != 0:
        break
    print(number)

0

In [21]:
for number in [5,7,11,90,124,149]:
    if number % 2 == 0:
        break
    print(number)

5
7
11

In [22]:
for num in range(10):
    if num == 6:
        continue
    print(num)

0
1
2
3
4
5
7
8
9

In [23]:
for num in range(10):
    if num == 6:
        break
    print(num)

0
1
2
3
4
5

In [24]:
for num in range(10):
    if num == 6 or num == 8:
        break
    print(num)

0
1
2
3
4
5

In [25]:
for num in range(10):
    if num == 6:
        continue
    print(num)

0
1
2
3
4
5
7
8
9

# Nested for loop

In [1]:
for a in range(5):
    print("Inner loop begins")
    for characters in "China":
        print(a, characters)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [2]:
table_number = int(input("Enter Table Number: "))
for a in range(1,11):
    print(f"{table_number} * {a} = {table_number * a}")

Enter Table Number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [6]:
tables = int(input("Enter Table: "))
for table in range(2,tables + 1):
    print("Table: ")
    for num in range(1,11):
        print(f"{table} * {num} = {table * num}")

Enter Table: 5
Table:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Type Casting:

In [7]:
user_input = input("Enter something: ")
type(user_input)

Enter something: Mohib

str

In [8]:
user_input = input("Enter something: ")
type(user_input)

Enter something: 8

str

In [9]:
user_input = int(input("Enter something: "))
type(user_input)

Enter something: 56

int

# Changing Case:

In [10]:
type("I'm a string")

str

In [12]:
name = "Mohib"

In [13]:
name.upper()

'MOHIB'

In [15]:
name.lower()

'mohib'

In [16]:
name.title()

'Mohib'

# Dictionary:

In [17]:
# my_dict = {key:value, key:value, key:value,}

In [32]:
my_dict = {"name":"Mohib Ismail", "age":17, "gender":"Male"}
len(my_dict)

3

# Adding a New key to an Existing Dictionary:

In [26]:
my_dict["email"] = "imohib168@gmail.com"

In [27]:
my_dict

{'name': 'Mohib Ismail',
 'Age': 17,
 'gender': 'Male',
 'email': 'imohib168@gmail.com'}

In [28]:
print(my_dict["email"])

imohib168@gmail.com

# Access key Values:

In [23]:
my_dict["name"]

'Mohib Ismail'

In [29]:
my_dict["email"]

'imohib168@gmail.com'

In [33]:
my_dict["age"]

17

In [34]:
new_dic = {1:"Mohib", 2:"Ismail"}

In [35]:
new_dic[1]

'Mohib'

In [36]:
new_dic[2]

'Ismail'

# Deleting a Key:

In [37]:
del new_dic[2]

In [38]:
new_dic

{1: 'Mohib'}

# Updating a key Value:

In [39]:
my_dict = {"name":"Mohib Ismail", "age":17, "gender":"Male", "email":"imohib168@gmail.com"}

In [40]:
my_dict["email"] = "mohib.ismail.66442@gmail.com"

In [41]:
my_dict

{'name': 'Mohib Ismail',
 'age': 17,
 'gender': 'Male',
 'email': 'mohib.ismail.66442@gmail.com'}

In [42]:
dic_1 = {1:100, 2:200, 3:300, 4:400, 1:1000}

In [43]:
dic_1

{1: 1000, 2: 200, 3: 300, 4: 400}

In [45]:
2 in dic_1

True

In [46]:
"age" in my_dict

True

In [47]:
"Nationality" in my_dict

False