# Print:

In [1]:
print(34)  #integer

34

In [2]:
print(67,34,67)

67 34 67

In [3]:
print(56.89)   #floating point

56.89

In [4]:
print(56, 78.9)  #integer and floating point

56 78.9

In [5]:
print("Pakistan")   #string

Pakistan

In [6]:
print("12")   #Now 12 is considered as string

12

In [7]:
print("123qwertyui")  #alphanumeric

123qwertyui

In [8]:
print("Pakistan", "Japan", "India")

Pakistan Japan India

In [9]:
print("Pakistan", "Japan", "India", sep=' ')

Pakistan Japan India

In [10]:
print("Pakistan", "Japan", "India", sep=' & ')

Pakistan & Japan & India

In [11]:
print("Hello World 1")
print("Hello World 2")
print("Hello World 3")

Hello World 1
Hello World 2
Hello World 3

In [12]:
print("Hello World 1", end = '\n')
print("Hello World 2", end = '\n')
print("Hello World 3")

Hello World 1
Hello World 2
Hello World 3

In [13]:
print("Hello World 1", end = '\n\n')
print("Hello World 2", end = '\n\n')
print("Hello World 3")

Hello World 1

Hello World 2

Hello World 3

In [14]:
print("Hello World 1", end = '\t')
print("Hello World 2", end = '\t')
print("Hello World 3")

Hello World 1	Hello World 2	Hello World 3

In [15]:
print("Hello World 1", end = '\t\t')
print("Hello World 2", end = '\t\t')
print("Hello World 3")

Hello World 1		Hello World 2		Hello World 3

# Variable:

In [16]:
a = 10
# a is variable name(identifier)
# = assignment operator
# 10 value (integer value)

In [17]:
print(a)

10

In [18]:
num = 10.6

In [19]:
print(num)

10.6

In [20]:
type(num)

float

In [21]:
a = 5
print(a)
type(a)

5

int

In [22]:
city = "Karachi"
print(city)
type(city)

Karachi

str

# Concatenation:

In [23]:
a = "56"  #in string "+" is not addition it's concatenation
b = "89"
print(a + b)

5689

In [24]:
name = "Mohib"
f_name = "Ismail"
print(name + " " + f_name)

Mohib Ismail

In [25]:
city = "Karachi"
country = "Pakistan"
Nationality = city,country
print(Nationality)

('Karachi', 'Pakistan')

# Operators:

In [26]:
# operators { + , - , * , / }

In [27]:
print(58 +96)

154

In [28]:
#addition
a = 95
b = 21
c = a + b
print(c)

116

In [29]:
#Subtraction
a = 95
b = 21
c = a - b
print(c)

74

In [30]:
#multiplication
a = 95
b = 21
c = a * b
print(c)

1995

In [31]:
#division
a = 95
b = 21
c = a / b
print(c)

4.523809523809524

In [32]:
#double slash will do integer division
a = 95
b = 21
c = a // b
print(c)

4

In [33]:
a = 54
b = 87
c = 78
d = 59
e = 314
total = a * b / c - d * e
print(total)

-18465.76923076923

In [34]:
num_1 = int(input("Enter number please: "))
num_2 = int(input("Enter number please: "))
total = num_1 + num_2
print(total)

Enter number please: 45
Enter number please: 12
57

# Lists:

In [35]:
alist = ["Mohib", "Faizan", "Hamza"]
#index      0         1        2

In [36]:
print(alist)

['Mohib', 'Faizan', 'Hamza']

In [37]:
city_1 = "karachi"
city_2 = "multan"
city_3 = "peshawar"
city_4 = "lahore"

cities = ["karachi", "multan", "peshawar", "lahore"]

In [38]:
print(cities)

['karachi', 'multan', 'peshawar', 'lahore']

# Access Member from list:

In [39]:
alist[1]

'Faizan'

In [40]:
cities[2]

'peshawar'

# Check lenghth of the list:

In [41]:
len(alist)

3

In [42]:
len(cities)

4

Making New list

In [44]:
fruits = []

# Adding member in to the list:

In [45]:
fruits.append("Banana")

In [46]:
print(fruits)

['Banana']

In [47]:
fruits.append("Strawberry")
print(fruits)

['Banana', 'Strawberry']

In [48]:
fruits.append("Mango")
print(fruits)

['Banana', 'Strawberry', 'Mango']

In [49]:
fruits.append("Blue Berry")
print(fruits)

['Banana', 'Strawberry', 'Mango', 'Blue Berry']

# Inserting member into the list:

In [50]:
#In "Insert" we can give our own index where we want to add that member in the list

In [51]:
fruits.insert(1, "apple")
print(fruits)

['Banana', 'apple', 'Strawberry', 'Mango', 'Blue Berry']

# Extending member into the list:

In [52]:
#By using "append" & "Insert" we can Only add 1 value in to the list.
# But if we want to add more than 1 value to the list then we can use "Extend"

In [53]:
fruits.extend(["Cherry", "Apricots"])
print(fruits)

['Banana', 'apple', 'Strawberry', 'Mango', 'Blue Berry', 'Cherry', 'Apricots']

# Count function:

In [54]:
fruits.count("Cherry")

1

# Index function:

In [55]:
#Index function is used to see the Members index in the list

In [56]:
fruits.index("Blue Berry")

4

In [57]:
fruits.index("Mango")

3

# How to Clear the list:

In [58]:
cities.clear()

In [59]:
print(cities)

[]

# How to copy list:

In [60]:
cities = ["karachi", "multan", "peshawar", "lahore"]

In [61]:
cities_2 = cities.copy()  # by value

In [62]:
print(cities_2)

['karachi', 'multan', 'peshawar', 'lahore']

In [63]:
cities_3 = cities    # by reference
print(cities_3)

['karachi', 'multan', 'peshawar', 'lahore']

In [64]:
cities.append("new_city")
print(cities_2)

['karachi', 'multan', 'peshawar', 'lahore']

In [65]:
print(cities)

['karachi', 'multan', 'peshawar', 'lahore', 'new_city']

In [66]:
print(cities_3)

['karachi', 'multan', 'peshawar', 'lahore', 'new_city']

# Delete function:

In [67]:
del cities_3[3]   #{del,remove}
# del is not a function it's a statement
# remove is a function

In [68]:
del cities_3[3]

In [70]:
print(cities_3)

['karachi', 'multan', 'peshawar']

In [71]:
print(cities)

['karachi', 'multan', 'peshawar']

In [72]:
print(cities_2)

['karachi', 'multan', 'peshawar', 'lahore']

# Pop function:

In [73]:
popped_city = cities.pop()
print(f"This is popped from list {popped_city}")
print(f"The remaining cities are {cities}")

This is popped from list peshawar
The remaining cities are ['karachi', 'multan']

In [74]:
cities = ["karachi", "multan", "peshawar", "lahore"]

In [75]:
popped_city = cities.pop(3)
print(cities)

['karachi', 'multan', 'peshawar']

# Sort function:

In [76]:
cities.sort()

In [77]:
print(cities)

['karachi', 'multan', 'peshawar']

In [78]:
cities.sort(reverse = True)
print(cities)

['peshawar', 'multan', 'karachi']

# Slicing:

In [79]:
#index        -5     -4        -3        -2        -1
students = ["Ali", "Mohib", "Faizan", "Khizir", "Amjad"]
#index        0       1        2         3         4

In [80]:
print(students[1])
print(students[-4])

Mohib
Mohib

In [82]:
#students[start:end+1]
print(students[1:2])

['Mohib']

In [83]:
students[1:3]

['Mohib', 'Faizan']

In [84]:
students[-4:1]

[]

In [85]:
students[-4:-1]

['Mohib', 'Faizan', 'Khizir']

In [86]:
students[:]

['Ali', 'Mohib', 'Faizan', 'Khizir', 'Amjad']

In [87]:
students[2:]

['Faizan', 'Khizir', 'Amjad']

In [88]:
students[:4]

['Ali', 'Mohib', 'Faizan', 'Khizir']

In [89]:
students[2:-5]

[]

In [90]:
students[-5:2]

['Ali', 'Mohib']

In [91]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [92]:
nums[0:16]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [93]:
nums[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [94]:
nums[::4]

[1, 5, 9, 13, 17]

# Tuple:

In [95]:
#Tuples are immutable

In [96]:
atuple = ["Mohib", 300, "Ismail"]

In [97]:
len(atuple)

3

In [98]:
atuple[0]

'Mohib'

In [99]:
name = "Mohib", "Ismail", "Bhimla"
print(name)

('Mohib', 'Ismail', 'Bhimla')

In [100]:
name.index("Mohib")

0